{% extends "portfolio/base.html" %}

{% block content %}

<div>

    <section>
        <h2>{{ licenciatura.nome }} ({{ licenciatura.sigla }})</h2>

        <p><strong>Universidade:</strong> {{ licenciatura.universidade }}</p>
        <p><strong>Duração:</strong> {{ licenciatura.duracao_anos }} anos</p>

        <p>{{ licenciatura.descricao }}</p>
    </section>

    <section>
        <h3>Anos</h3>

        <ul>
            {% for ano in anos %}
                <li>
                    <a href="">
                        {{ ano.ano }}º Ano
                    </a>
                </li>
            {% empty %}
                <li>Não existem anos disponíveis.</li>
            {% endfor %}
        </ul>
    </section>

</div>

{% endblock %}