{% extends "portfolio/base.html" %}

{% block content %}

<h2>Tecnologias</h2>

<section>

    {% for tecnologia in tecnologias %}
    <article>

        <header>
            <h3>{{ tecnologia.nome }}</h3>
        </header>

        <section>

            <p><strong>Descrição: </strong>{{ tecnologia.descricao }}</p>

            {% if tecnologia.website %}
                <p>
                    <a href="{{ tecnologia.website }}" target="_blank">
                        Website
                    </a>
                </p>
            {% endif %}

            {% if tecnologia.image %}
                <img src="{{ tecnologia.image.url }}" alt="{{ tecnologia.nome }}">
            {% endif %}

        </section>
        {% if request.user.is_authenticated and request.user.groups.all.0.name == 'gestor-portfolio' %}
         <a href="{% url 'edita_tecnologia' tecnologia.id %}"><button>Editar informação da Tencnologia</button></a>
         <a href="{% url 'apaga_tecnologia' tecnologia.id %}"><button>Apagar a Tecnologia</button></a>
        {% endif %}

    </article>

    {% empty %}
        <p>Não existem tecnologias.</p>
    {% endfor %}

</section>
{% if request.user.is_authenticated and request.user.groups.all.0.name == 'gestor-portfolio' %}
<a href="{% url 'nova_tecnologia' %}"><button>Inserir nova Tecnologia</button></a>
{% endif %}

{% endblock %}